<a href="https://colab.research.google.com/github/fcbculey/Discrete_Math/blob/master/Project6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DISCRETE MATHEMATICS

##PROJECT : NUMBERS
## PROF. JACOB
##KULDEEP GAUTAM [274153]

#NUMBERS

# 1. BASE & INTO BASE 10

In this project, we are asked to solve some different  numbers in different bases. 

According to the question, 
Converting (24036)7 into base ()10

Doing it mathematically,

            : (2*7^4)+(4*7^3)+(0*7^2)+(3*7^1)+(6*7^0)

            :  4802  + 1372  +  0    + 21    +  6

            :  6201

In [1]:
int("24036",7)

6201

In [2]:
(2*7**4)+(4*7**3)+(0*7**2)+(3*7**1)+(6*7**0)

6201

We get similar result from both way which satisfies my understanding.

## 2. BASE 16 INTO 10

conversion of Hexadecimal number 72e3 or 0x72e3 into base 10.

In this case, I am taking (0x72e3)16 into ()10.


$$
(0x72e3,16)
$$

In [3]:
int('0x72e3',16)

29411

In [4]:
(7*16**3)+(2*16**2)+(14*16**1)+(3*16**0)

29411

# 3. BASE 10 INTO BASE 16

Converting (3735928559)10 into ()16

In [5]:
from math import floor
print(3735928559%16)
floor(3735928559/16)

15

233495534

In [6]:
print(233495534%16)
floor(233495534/16)

14

14593470

In [7]:
print(14593470%16)
floor(14593470/16)

14

912091

In [8]:
print(912091%16)
floor(912091/16)

11

57005

In [9]:
print(57005%16)
floor(57005/16)

13

3562

In [10]:
print(3562%16)
floor(3562/16)

10

222

In [11]:
print(222%16)
floor(222/16)

14

13

In [12]:
print(13%16)
floor(13/16)

13

0

We all know that, 

In hexadecimal, we take letters too.

Accordingly, 
A = 10,

B = 11,

C = 12, 

D = 13, 

E = 14,

F = 15

so,

 the given number (3735928559)16 = DEADBEEF

In [13]:
(13*16**7)+(14*16**6)+(10*16**5)+(13*16**4)+(11*16**3)+(14*16**2)+(14*16**1)+(15*16**0)

3735928559

In [14]:
int(0xDEADBEEF)

3735928559

This clarify the whole solution.

# 4. SUBTRACTION using two's compliment

Subtracting
$$
  25 - 37
$$

Firstly, 

binary representation for both numbers. 
$$
25 = 1 1 0 0 1,
37 = 0 0 1 0 0 1 0 1
$$

since, 37 is (-)ve, 

  0 0 1 0 0 1 0 1

            switching 1's and 0's

            1 1 0 1 1 0 1 0

            adding 1

            1 1 0 1 1 0 1 1

In [15]:
a = "11001"
b = "11011011"

sum = bin(int(a, 2) + int(b, 2))

print(sum[2:])

11110100

#FINDINGS

I found out that the playing with numbers is much more interesting and satisfactory.Some conversions were not possible only using python so I used hand method for them. 

Binary basically means 0's and 1's which are computer readable numbers while hexadecimal is to provide a human-friendly representation of binary-coded values.